 /* Add a black background color to the top navigation */
 .topnav {
    background-color: #333;
    overflow: hidden;    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #a8a5a5;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Noto Sans JP', sans-serif;
    transition: color 0.5s;
  }
  .topnav a:hover {color: #ffffff}
  /* Add an active class to highlight the current page */

  #highlight {
    display: inline-block;
    background-color: chartreuse;
    height: 4px;
    width: 120px;
    position: absolute;
    top: 41px;
  }
  
  #seta {
    position: absolute;
    right: 65px;
    font-size: 10px;
    top: 20px;
    height: 5px;

  }

  #lan {
    position:absolute;
    right: 80px;
    font-size: 15px;
    top: 15px;
  }

  #c {display:block;}
  #prime {
    display:flex;
    position:relative; top:20px;
    background-color: inherit;
    border:solid 1px #999999;
    border-radius: 4px;
    padding: 3% 0 2%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    
  }
  #text {margin-left: 5%;text-align:left;line-height: 1.4;width: 50%;}
  #sci {position: absolute; top:700px;}
  #tinker {width: 50%;margin: 2% auto 0 auto;}
  #bsp4 {display: inline;position: relative;bottom:130px;margin-left:20%;font-family:'Courier New', Courier, monospace;}
  .overview {font-family:Cambria;display: inline-block;position: relative;bottom:25px;margin-left: 10%;}
  #med {position: relative; top:100px;}
  #uno {margin-left: 30%;position: relative; bottom: 5%;}
  .pg {background-color: white; height: 1100px;width:80%;margin:auto;box-shadow:0 0 2em #181616;color:black;}
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {display: none;}
  
  .nbarra {height: 800px; margin-top: 10px;}
  
  .nbarra a { 
    color:#bdc1c6;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;;
    font-size: 20px;
    text-decoration: none;
  }
  
  .nbarra a:hover {
    text-decoration: underline;
  }
  .links {
    display:flex;
    position: absolute;
    top: 400px;
    left: 42%;
    background-color: black; 
    width:15%;
    justify-content: space-evenly;
    padding-top: 3px; 
  }

  .caixa {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly !important;
    z-index: 2;
    border:solid 1px #999999;
    border-radius: 4px;
    padding: 3% 0 2%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position:relative; top:20px;
  }
  .caixa .ilus {width:200px;height:140px;margin-left:20px;border-radius: 10px;}
  .caixa h3 {font-size: 1.25rem;margin:0 0 0 2rem;width:512px;}
  .caixa a:hover {text-decoration: none !important;}
  .caixa .vl {border-left: 1px solid white; height:160px;margin-left:20px;}
  .caixa .chave {margin-left:20px;width:500px;}
  .caixa .quem {color:#a7a7a7; font-size: 0.75rem;position: relative;bottom:100px;right:300px;}
  .ic {position:relative;right:60%;}
  .ic img {width:1.5rem;position: relative;left:7%;bottom:15px;}
  .ic a {font-size: 0.875rem; color:#8ab4f8;font-weight: bold;font-family: 'Noto Sans JP', sans-serif;position: relative;left:7%;bottom:20px;}

  .textod {margin: 10px 10%;}
  .arrowup {display:none;background-color: rgb(182, 197, 197);border-radius: 50%;width:55px;height:55px;text-align: center;position:fixed;bottom: 10px;right:10px;box-shadow:0 0 1rem #0f0f0f;}
  .arrowup img {width:40px;margin:5px auto;}
  .arrowup:hover {cursor: pointer;box-shadow:0 0 0.5rem white;}

  h4 {align-self: flex-start;}
  td {text-align: center;padding-left:1em;padding-right: 1em;}
  th {border-bottom: black 1px solid; }
  table {font-size: 15px;font-family:Cambria;border-top: black 1px solid;border-bottom: black 1px solid;margin: auto;position: relative;bottom:20px;}
  iframe {margin:auto;width: 560px; height: 315px;}

  @media screen and (max-width: 600px) {

    .topnav .icon {
      float: right;
      display: block;
    }
    .links {
      top: 560px;
      left: 0;
      width: 100%;
      justify-content: space-evenly;
    }

    #sci {top:500px;}
    #highlight {left: 8px !important;}
    #a, #c, #e, #f {display: none;}
    #prime {display: block; width:100%;padding-bottom: 3%;}
    #text {width:90%;}
    #tinker {width: 100%;}
    #bsp4 {color:black;display: inline;position: relative;font-size: 10px;bottom:3%;margin-left: 8%;}
    .overview {bottom:1%;font-size: 7px;}
    #uno {margin-left: 12%; position: relative; bottom: 3%;}
    #pnagem {position: relative;top:25%;font-size: 7px;}
    #med {position: relative; top:160px;}
    .pg {height: 380px;}
    #pg2 {height:440px}
    .caixa {display: flex !important;justify-content: space-around !important;flex-wrap: wrap;}
    .caixa h3 {font-size: 1rem;width:190px;margin:0.5rem 0 0.5rem 0;}
    .caixa .ilus {width:5rem;height: 4rem;padding-top: 0.5rem;}
    .caixa .quem {color:#a7a7a7; font-size: 0.75rem; position: relative;bottom:0.5rem;left:1%;}
    .nbarra {z-index: 1;position: absolute;top:50px;width: 95%;}
    .caixa .vl {display: none;}
    .caixa .chave {display: none;}
    .ic {position:relative;top:40px;right:49%;margin-bottom: 20px;}
    table {font-size: 9px;bottom:0;}
    td {padding: 0 0 0 0;}
    iframe {width:280px;height: 157px;margin-left:10%;}
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;z-index: 2;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block !important;
      text-align: left;
    }
    .topnav.responsive #b, .topnav.responsive #d {
      width: 200px;
      border-style:solid; 
      border-width: 0.5px;
      border-color: chartreuse;}
    .topnav.responsive #e {display:none !important;}
  }