/* css/common/layout.css */

/* General layout styles (header, footer, etc.) */
header {
    background-color: #333;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    height: 100px;
    /*box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);*/
    border-bottom: 3px solid black;
}

nav ul {   
    display: flex;
    justify-content: space-evenly;
    position: relative;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

nav ul li {
    display: inline;

}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
}
/* Add more layout styles if needed */
h2 {font-family: 'Noto Sans' !important;}

#content-div {
    position: relative;
    overflow-x: hidden;
  }

#content-background,
#content-background-blur {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#content-background-blur  {
  width: 100%;
  height: 1200px;
  filter: blur(6px);
}

#content-background {
  width: 1200px;
  height: 720px;
  position: absolute;
  left: 50%;
  margin-left: -600px;
  z-index: 100;
  filter: blur(4px);
}

@media only screen and (max-width: 768px) {
    /* #content-background,
    #content-background-blur {
        position: relative;  Adjusted height for smaller screens 
        z-index: 0;
    }     */
    #content-background {
        background-position: -300px;
        height: 800px;
        background-attachment: unset;
        filter: blur(4px);
        position:absolute;
        top: -60px;
    }

    #content-background-blur {
      height: inherit;
      filter: blur(4px);
      background-attachment: unset;
    }

    #content-div {height: 2700px;}    

    /* #content-background, #content-background-blur {
      background-size: 100% 500px;
    } */

}